* {
  transition: all 200ms;
}


.wrapper {
  background: rgb(56, 56, 56);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.interface {
  border: solid 0.4px white;
  padding: 14px;
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.attempts {
  border: solid 0.4px white;
  padding: 14px;
}

.gameControls {
  min-width: 40%;
 
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px;
}

button:nth-child(-n+2) {
  background: white;
  height: 100%;
  border-radius: 8px;
  margin: 0;
  font-size: 1em;
}

button:nth-child(-n+2):active {
  box-shadow: 0 0 25px white;;
}